.Card {
	background-color: #00ffff !important;
	width: 70vmin;
	height: 70vmin;
	display: flex;
	flex-direction: column;
}
.Card-content {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 !important;
}
.Card-title {
	font-size: 8vmin;
}
.Card-iconsContainer {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.Card-iconsContainer button svg {
	width: 8vmin;
	height: 8vmin;
}
.Card .MuiIconButton-root {
	color: black;
}
.Card-actionArea {
	flex-grow: 1;
}
.Card-actions {
	height: 100%;
	padding: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Card-actions span {
	font-size: 2.5vmin;
}
