.SecondSide {
	background-color: #00ffff !important;
	width: 85vmin;
	height: 85vmin;
	display: flex;
	flex-direction: column;
}
.SecondSide-content {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 !important;
}
.SecondSide-avatars {
	display: grid;
	gap: 1rem;
	flex-grow: 1;
	padding: 1rem;
	width: 100%;
}
.SecondSide-avatarContainer {
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: space-evenly !important;
}
.SecondSide-pagination {
	padding: 1rem 0;
}
.SecondSide-actionArea {
	flex-grow: 1;
}
.SecondSide-actions {
	height: 100%;
	padding: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.SecondSide-actions span {
	font-size: 2.5vmin;
}
.MuiTooltip-tooltip::selection {
	background-color: #00ffff !important;
	color: black !important;
}
/* not useful here */
.SecondSide p::selection {
	color: #00ffff;
	background: black;
}
